<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/boostrap.min.css" />
    <link rel="stylesheet" href="/assets/css/customize.min.css" />

    <title>Express JS</title>
  </head>
  <body>
    <div class="container-home">
      <div class="content-app">
        <div class="d-flex">
          <div class="app-title">
            <h1 class="display-4">Express</h1>
          </div>
          <div class="logo-img">
            <img src="/assets/img/express-icon.png" alt="" srcset="" />
          </div>
        </div>
        <div class="app-description">
          <p class="lead">Fast, Unopinionated, and Minimalist</p>
        </div>
      </div>
    </div>

    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/boostrap.min.js"></script>
  </body>
</html>